smartrez-data-flight-common/xsd/FlightInformationRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="CommonTypes.xsd"/>
	<xsd:element name="FlightInformationRS">
		<xsd:annotation>
			<xsd:documentation>Flight information response root element</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="InfoGroup" minOccurs="0"/>
				<xsd:element ref="FlightDetails" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Version number.  Example: 1.0</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="FlightDetails">
		<xsd:annotation>
			<xsd:documentation>Flight Details</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Flight"/>
				<xsd:element ref="Leg" maxOccurs="unbounded"/>
				<xsd:element ref="Segment" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="AirlineCode">
		<xsd:annotation>
			<xsd:documentation>Airline code.  Example: AA</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
				<xsd:maxLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Date" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2002-02-22</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="Leg">
		<xsd:annotation>
			<xsd:documentation>Leg Details</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BoardAirportCode"/>
				<xsd:element ref="OffAirportCode"/>
				<xsd:element ref="LegOrder"/>
				<xsd:element ref="FlightNumber"/>
			  	<xsd:element ref="DepartureCityCode" minOccurs="0"/>
				<xsd:element ref="ArrivalCityCode" minOccurs="0"/>
				<xsd:element ref="DepartureMetroGroupCode" minOccurs="0"/>
				<xsd:element ref="ArrivalMetroGroupCode" minOccurs="0"/>
				<xsd:element ref="EquipmentCode" minOccurs="0"/>
				<xsd:element ref="EquipmentVersionCode" minOccurs="0"/>
			    <xsd:element ref="SeatTemplateCode" minOccurs="0"/>
			    <xsd:element name="TailNumber" type="xsd:string"></xsd:element>
			    <xsd:element name="DelayCode" type="xsd:string"></xsd:element>
			    <xsd:element name="Status" type="xsd:string"></xsd:element>
				<xsd:element ref="DepTimeLTC"/>
				<xsd:element ref="DepTimeUTC"/>
				<xsd:element ref="ArrivalTimeLTC"/>
				<xsd:element ref="ArrivalTimeUTC"/>
				<xsd:element ref="EstimatedDepTimeLTC"/>
				<xsd:element ref="EstimatedArrivalTimeLTC"/>
				<xsd:element ref="ActualDepTimeLTC"/>
				<xsd:element ref="ActualArrivalTimeLTC"/>
				<xsd:element ref="DayChange"/>
				<xsd:element name="DepartureTerminal" type="xsd:string"></xsd:element>
				<xsd:element name="ArrivalTerminal" type="xsd:string"></xsd:element>
				<xsd:element name="DepartureGate" type="xsd:string"></xsd:element>
				<xsd:element name="ArrivalGate" type="xsd:string"></xsd:element>
				<xsd:element name="AirportComments" type="xsd:string"></xsd:element>
				<xsd:element name="ClosedTime" type="xsd:dateTime">
				     <xsd:annotation>
						<xsd:documentation>Flight Close Time in GMT</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref = "LastModifedDateLTC"></xsd:element>
				<xsd:element ref = "LastModifedDateUTC"></xsd:element>
				<xsd:element ref="RestrictedSSR" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Segment">
		<xsd:annotation>
			<xsd:documentation>Segment Details</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BoardAirportCode"/>
				<xsd:element ref="OffAirportCode"/>
				<xsd:element ref="BoardPointOrder"/>
				<xsd:element ref="OffPointOrder"/>
				<xsd:element ref="JourneyTime"/>
				<xsd:element ref="DepartureMetroGroupCode" minOccurs="0"/>
				<xsd:element ref="ArrivalMetroGroupCode" minOccurs="0"/>
				 <xsd:element ref="DepTimeLTC"/>
				 <xsd:element ref="DepTimeUTC"/>
				 <xsd:element ref="ArrivalTimeLTC"/>
				 <xsd:element ref="ArrivalTimeUTC"/>
				<xsd:element ref="TrafficRestrictions" minOccurs="0"/>
				<xsd:element ref="LastModifedDateLTC"/>
				<xsd:element ref="LastModifedDateUTC"/>
				<xsd:element ref="LogicalFlightId"/>
				<xsd:element ref="PreSeatStatus"/>
				<xsd:element ref="LIDOpenStatus"/>
				<xsd:element ref="EquipmentCode" minOccurs="0"/>
				<xsd:element ref="EquipmentVersionCode" minOccurs="0"/>
			    <xsd:element ref="SeatTemplateCode" minOccurs="0"/>
			    <xsd:element name="TailNumber" type="xsd:string"></xsd:element>
				<xsd:element name="FlightNumberDetails" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RestrictedSSR">
		<xsd:annotation>
			<xsd:documentation>Restricted SSR details</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="BoardAirportCode"/>
				<xsd:element ref="OffAirportCode"/>
				<xsd:element name="SSRCode" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Restricted SSR Codes</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="LastModifedDateLTC"/>
				<xsd:element ref="LastModifedDateUTC"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Flight">
		<xsd:annotation>
			<xsd:documentation>Flight group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode"/>
				<xsd:element ref="FlightNumber"/>
				<xsd:element ref="CodeSharing" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Code sharing group

Note: this will list all code share flights provided by OAG.  Any Operating Carrier data must be mapped to the new node "Operating Carrier",  introduced 03Feb2011</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="OperatingCarrier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Operating carrier group</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="AirlineCode"/>
							<xsd:element ref="FlightNumber"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="status"/>
				<xsd:element name="AircraftOwner" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Aircraft Owner</xsd:documentation>
						</xsd:annotation>
				</xsd:element>
				<xsd:element name="Route" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Route</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Date"/>
				<xsd:element ref="remarks"/>
				<xsd:element name="ModifyAction" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Last modified action - TIME_CHANGE, STATUS_CHANGE</xsd:documentation>
						</xsd:annotation>
				</xsd:element>
				<xsd:element name="ModifyReason" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Reason for the status modification.</xsd:documentation>
						</xsd:annotation>
				</xsd:element>
				<xsd:element ref="LastModifedDateLTC"/>
				<xsd:element ref="LastModifedDateUTC"/>
			</xsd:sequence>
			
		</xsd:complexType>
	</xsd:element>
	
	
	
	
	
	<xsd:element name="OffAirportCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Off Airport code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="LegOrder" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>LegOrder</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DayChange" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>DayChange</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BoardPointOrder" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>BoardPointOrder</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LogicalFlightId" type="xsd:long">
		<xsd:annotation>
			<xsd:documentation>LogicalFlightId</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="OffPointOrder" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>OffPointOrder</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="JourneyTime" type="xsd:int">
		<xsd:annotation>
			<xsd:documentation>JourneyTime</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="BoardAirportCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Board Airport code.  Example: MIA</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PreSeatStatus" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>PreSeatStatus</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LIDOpenStatus" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>LIDOpenStatus</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AirportName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Airport name.  Example: JFK International Airport</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="EquipmentCode">
		<xsd:annotation>
			<xsd:documentation>Equipment code.  Example: 744</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	
	<xsd:element name="DepartureCityCode">
		<xsd:annotation>
			<xsd:documentation>Departure City code.  Example: DXB</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ArrivalCityCode">
		<xsd:annotation>
			<xsd:documentation>ArrivalCityCode.  Example: DXB</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DepartureMetroGroupCode">
		<xsd:annotation>
			<xsd:documentation>DepartureMetroGroupCode.  Example: DXB</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ArrivalMetroGroupCode">
		<xsd:annotation>
			<xsd:documentation>ArrivalMetroGroupCode.  Example: DXB</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	
	<xsd:element name="EquipmentVersionCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>EquipmentVersionCode.  Example: Boeing 747-400 series</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SeatTemplateCode" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>SeatTemplateCode.  </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	
	<xsd:element name="remarks" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Flight information free flow text that applies for the whole flight. Example: Non smoking flight.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	
	<xsd:element name="CodeSharing">
		<xsd:annotation>
			<xsd:documentation>Code sharing group</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AirlineCode" minOccurs="0"/>
				<xsd:element ref="FlightNumber" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="status" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Status</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	
	
	
	<xsd:element name="TrafficRestrictions">
		<xsd:annotation>
			<xsd:documentation>Traffic restriction information.  Valid values are:
A = no local traffic
B = local traffic only
C = local and domestic connecting traffic only
D = qualified international online connecting or stopover traffic only
E = qualified online connecting or stopover traffic only
F = local and online connecting traffic only
G = qualified online connecting traffic only
H = segment not to be displayed
I = technical landing
J = conditional traffic
K = connecting traffic only
L = online connex traffic
M = international online stopover traffic only
N = international connecting traffic only
O = international online connecting traffic only
P = subj to govt approval 
Q = international online connecting or stopover traffic only
R = permanent request  
S = stopover traffic only 
T = online stopover traffic only
U = intl stopover traffic
V = connecting or stopover traffic only
W = international connecting or stopover traffic only
X = online connecting or stopover traffic only
Y = online connecting traffic only
Z = tr do not apply equally to passenger/cargo/mail
Example: X</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="1"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="C"/>
				<xsd:enumeration value="D"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="F"/>
				<xsd:enumeration value="G"/>
				<xsd:enumeration value="H"/>
				<xsd:enumeration value="I"/>
				<xsd:enumeration value="J"/>
				<xsd:enumeration value="K"/>
				<xsd:enumeration value="L"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="O"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="Q"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="S"/>
				<xsd:enumeration value="T"/>
				<xsd:enumeration value="U"/>
				<xsd:enumeration value="V"/>
				<xsd:enumeration value="W"/>
				<xsd:enumeration value="X"/>
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="Z"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	
	<xsd:element name="LastModifedDateLTC" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Date  format (YYYY-MM-DDThh:mm:ss.sss).  Example: 2004-04-12T13:20:15.5</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LastModifedDateUTC" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Date  format (YYYY-MM-DDThh:mm:ss.sss).  Example: 2004-04-12T13:20:15.5</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DepTimeLTC" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Date  format (YYYY-MM-DDThh:mm:ss.sss).  Example: 2004-04-12T13:20:15.5</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrivalTimeLTC" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Date  format (YYYY-MM-DDThh:mm:ss.sss).  Example: 2004-04-12T13:20:15.5</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DepTimeUTC" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Date  format (YYYY-MM-DDThh:mm:ss.sss).  Example: 2004-04-12T13:20:15.5</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ArrivalTimeUTC" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Date  format (YYYY-MM-DDThh:mm:ss.sss).  Example: 2004-04-12T13:20:15.5</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<xsd:element name="ActualDepTimeLTC" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Date  format (YYYY-MM-DDThh:mm:ss.sss).  Example: 2004-04-12T13:20:15.5</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActualArrivalTimeLTC" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Date  format (YYYY-MM-DDThh:mm:ss.sss).  Example: 2004-04-12T13:20:15.5</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	
	<xsd:element name="EstimatedDepTimeLTC" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Date  format (YYYY-MM-DDThh:mm:ss.sss).  Example: 2004-04-12T13:20:15.5</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EstimatedArrivalTimeLTC" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>Date  format (YYYY-MM-DDThh:mm:ss.sss).  Example: 2004-04-12T13:20:15.5</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	
</xsd:schema>
